@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

:root {
  font-family: Cinzel;
}

header {
  display: block;
}

body {
  overflow-y: hidden;
  scrollbar-width: none;
}

footer {
  display: block;
  text-align: center;
}

/*************/
/* home-page */
/*************/

nav#navSection {
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 1.4rem;
  border-top: 1px solid rgb(77, 77, 77);
  font-size: 1rem;
}

nav#navSection > a {
  text-decoration: none;
  color: black;
}

img#storeIcon {
  width: 100%;
  height: 19rem;
  object-fit: none;
}

.carousel {
  display: flex;
  flex-direction: column;
  max-height: 24rem;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  position: relative;
}

.carousel li {
  scroll-snap-align: start;
}

.carousel img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.arrow {
  top: 1rem;
  position: relative;
  opacity: 20%;
}

p.tech-text {
  display: none;
}

p.jewelry-text {
  display: none;
}

p.clothing-text {
  display: none;
}

/****************/
/* jewelry-page */
/****************/

.jewelry-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  position: relative;
}

.jewelry-products li {
  scroll-snap-align: start;
}

.jewelry-products img {
  width: 13rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 3rem;
  border: 1px solid rgba(77, 77, 77, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.product-name {
  margin: 1rem;
  font-size: 1rem;
}

.product-price {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.jewelry-products > h2 {
  line-height: 1.5rem;
  text-align: center;
}

/*************/
/* tech-page */
/*************/

.tech-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  position: relative;
}

.tech-products img {
  width: 13rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 3rem;
  border: 1px solid rgba(77, 77, 77, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.tech-products span {
  margin: 1;
  margin-bottom: 1.5rem;
}

.tech-products > h2 {
  text-align: center;
  line-height: 1.5rem;
}

/****************/
/* clothes-page */
/****************/

.clothes-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 30rem;
  overflow-y: scroll;
  scroll-snap-type: mandatory;
  position: relative;
}

.clothes-products img {
  width: 13rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  padding: 3rem;
  border: 1px solid rgba(77, 77, 77, 0.2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.clothes-products > h2 {
  text-align: center;
  line-height: 1.4;
}

/****************/
/* garment-page */
/****************/

.section-garment {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-garment > span {
  margin-top: 1.6rem;
}

.module {
  overflow: hidden;
}

.tooManyWords {
  font-family: Nunito Sans;
  margin-left: 1.5rem;
  line-height: 1.1rem;
  margin-right: 1rem;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.garment-img {
  width: 12rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.garment-h2 {
  margin: 1rem;
  margin-top: 0;
  text-align: center;
  line-height: 1.2rem;
}

section.section-garment > p,
span {
  margin: 1rem;
  margin-top: 0;
  font-size: 0.9rem;
  text-align: center;
}

/**************/
/* jewel-page */
/**************/

.section-jewel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jewel-image {
  width: 12rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}

.section-jewel > h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 1.1rem;
}

.section-jewel > p {
  font-family: Nunito Sans;
  margin-left: 1.5rem;
  line-height: 1.1rem;
  margin-right: 1rem;
  text-align: left;
}

.section-jewel > span {
  margin-top: 1rem;
}

/*********************/
/* tech-product-page */
/*********************/

.section-tech {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tech-image {
  width: 12rem;
  height: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.section-tech > h2 {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
  line-height: 1.2rem;
}

.section-tech > p {
  font-family: Nunito Sans;
  margin-left: 1.5rem;
  line-height: 1.1rem;
  margin-right: 1rem;
  text-align: left;
}

.section-tech > span {
  margin-top: 1.5rem;
}

/**************/
/* media: 700 */
/**************/

@media (min-width: 700px) {
  .carousel {
    display: flex;
    flex-direction: column;
    max-height: 50rem;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    position: relative;
  }

  nav#navSection {
    display: flex;
    justify-content: center;
    gap: 7rem;
    padding: 1.7rem;
    border-top: 1px solid rgb(77, 77, 77);
    font-size: 1.5rem;
  }

  .product-name {
    font-size: 1.4rem;
  }

  .product-price {
    font-size: 1.4rem;
  }

  /****************/
  /* jewelry-page */
  /****************/

  .jewelry-products {
    max-height: 50rem;
  }

  .jewelry-products img {
    width: 17rem;
  }

  .jewelry-products > h2 {
    margin-left: 2rem;
    line-height: 1.9rem;
  }

  /*************/
  /* tech-page */
  /*************/

  .tech-products {
    max-height: 50rem;
  }

  .tech-products img {
    width: 18rem;
  }

  .tech-products > h2 {
    line-height: 1.9rem;
  }

  /****************/
  /* clothes-page */
  /****************/

  .clothes-products {
    max-height: 50rem;
  }

  .clothes-products img {
    width: 18rem;
  }

  /****************/
  /* garment-page */
  /****************/

  .section-garment > span {
    margin-top: 2rem;
    font-size: 1.7rem;
  }

  .module {
    overflow: hidden;
  }

  .tooManyWords {
    margin-left: 6rem;
    line-height: 1.8rem;
    margin-right: 4rem;
    font-size: 1.4rem;
  }

  .garment-img {
    width: 17rem;
  }

  .garment-h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
    line-height: 1.7rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  /**************/
  /* jewel-page */
  /**************/

  .jewel-image {
    width: 17rem;
    margin-top: 3rem;
  }

  .section-jewel > h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
    line-height: 1.7rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .section-jewel > p {
    margin-left: 6rem;
    line-height: 1.8rem;
    margin-right: 4rem;
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .section-jewel > span {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  /*********************/
  /* tech-product-page */
  /*********************/

  .tech-image {
    width: 17rem;
    margin-top: 3rem;
  }

  .section-tech > h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
    line-height: 1.7rem;
    margin-left: 1.8rem;
    margin-right: 1.8rem;
  }

  .section-tech > p {
    margin-left: 6rem;
    line-height: 1.8rem;
    margin-right: 4rem;
    font-size: 1.4rem;
    margin-top: 2rem;
  }

  .section-tech > span {
    margin-top: 2rem;
    font-size: 1.5rem;
  }
}

/**************/
/* media: 1000 */
/**************/

@media (min-width: 1000px) {
  header {
    height: 10rem;
  }

  img#storeIcon {
    padding-top: 1.8rem;
    padding-bottom: 1.2rem;
    padding-left: 1.7rem;
    width: 5rem;
    height: 6rem;
  }

  .carousel {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-y: visible;
  }

  .carousel img {
    width: 32rem;
    height: 33rem;
    position: relative;
    top: 4rem;
    border-radius: 5px;
  }

  footer {
    display: none;
  }

  .carousel li img {
    transition: opacity 0.5s ease-in-out;
    transition: filter 0.5s ease-in-out;
  }

  .carousel li:hover img {
    filter: grayscale(100%);
    opacity: 0.5;
    cursor: pointer;
  }

  ul.carousel > li:hover p.clothing-text {
    opacity: 1;
  }

  /****************/
  /* clothes-page */
  /****************/

  .clothes-products img:hover {
    cursor: pointer;
  }

  .clothes-products {
    max-height: 50rem;
    margin-bottom: 7rem;
  }

  /**************/
  /* jewel-page */
  /**************/

  .jewel-image {
    width: 14rem;
  }

  .section-jewel > h2 {
    font-size: 1.5rem;
  }

  .section-jewel > p {
    margin-left: 6rem;
    line-height: 1.8rem;
    margin-right: 4rem;
    font-size: 1.3rem;
    margin-top: 2rem;
  }

  .section-jewel > span {
    margin-top: 2rem;
    font-size: 1.5rem;
  }

  .jewelry-products img {
    width: 16rem;
  }
}

/*************/
/* Animation */
/*************/

.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
